* {
    box-sizing: border-box

}

body{
    background-image: url(Fondo3.jpg) ;    
}

@font-face {
    font-family: "simsonfont";
    src: url(../font/Simpsonfont.otf) format(opentype);
}

h2{ color: #f8db27; font-family: "simsonfont"}
.footerColor{color:#f8db27; text-align: center; background-color: blue;}

h3{text-align: center;font-family: "simsonfont"}
h1{font-family:"simsonfont"}
nav{font-family:"simsonfont"}
.apuShop {background-color: #2f64d6; width: 400px; height: 100px;}
.tiendaApu {background-color:#2f64d6; text-align: center;}
.bodyColor{background-image: url(bocetosimpsons.webp)}
.puercoArana{background-color: black;}